@media only screen and (max-width: 350px) {
  .header {
    flex-direction: column;
    opacity: 0;
  }
  .btn-box  {
    padding: 7px 14px;
  }
  .navbar {
      display: none;
    flex-direction: column;
    height: 200px;
    width: 170px;
    justify-content: space-evenly;
  }
.Techinical-bars{
  flex-direction: column;
}
.learning-badges{
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 20%;
}
  .home {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .para{
    display: flex;
    flex-direction: column;
  }
  .round {
    height: 250px;
    width: 250px;
  }
  .container {
    padding: 74px;
  }
  .round-2 {
    display: none;
  }
  .main-text h2 {
    font-size: 40px;
  }
  .burger {
    display: block;
    opacity: 1;
    z-index: 101;
  }
  .about {
    flex-direction: row-reverse;
    margin-left: 30px;
  }
  .container1 {
    margin: 0;
    padding: 90px 10px;
  }
  .contact {
    display: revert;
    position: relative;
  }
  .contact h2 {
    font-size: 50px;
  }
  
  .hero-buttons{
  margin: 20px;
  gap: 20px;
  display: flex;
}
}
@media only screen and (max-width: 650px) {
  .header {
    flex-direction: row;
    width: 100%;
    position: fixed;
    left: -14;
    top: 0;
    background-color: #071b27;
    padding: 20px 10px;
    display: flex;
    align-items: baseline;
  }
    .btn-box  {
    padding: 7px 14px;
  }
   .para{
    display: flex;
    flex-direction: column;
  }
    .navbar {
    display: none;
    flex-direction: column;
    background: rgb(7, 27, 39);
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
  }


.Techinical-bars{
flex-direction: column;
}
  .navbar.v-class-resp {
    display: flex;
  }
  .burger {
    display: block;
    opacity: 1;
    z-index: 101;
  }
  .navbar a {
    margin: 10px 0;
    font-size: 18px;
  }
  .home {
       justify-content: center;
    flex-direction: column;
    padding: 100px 5% 0;
  }
  .home-content h1 {
    font-size: 36px;
  }
  .home-content h3 {
    font-size: 22px;
  }
  .home-content p {
    font-size: 16px;
  }
  .home-sci a {
    margin: 20px 10px;
  }
  .round,
  .round-2 {
    height: 250px;
    width: 250px;
  }
  .about-text h2 {
    font-size: 40px;
  }
  .about-text h4 {
    font-size: 20px;
  }
  .about-text p {
    font-size: 16px;
  }
  .container {
    padding: 40px 20px;
  }
  .services-list {
    grid-template-columns: 1fr;
  }
  .portfolio-content {
    grid-template-columns: 1fr;
  }
  .contact {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .contact h2 {
    font-size: 50px;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }


  .home {
        justify-content: center;
    flex-direction: column-reverse;
  }
  .round {
    height: 250px;
    width: 250px;
  }
  .container {
    padding: 47px;
  }
  .round-2 {
    display: none;
  }
  .main-text h2 {
    font-size: 40px;
  }
.main-text{
  margin-top: 40px;
}
  .about {
    flex-direction: row-reverse;
    width: 100vw;
    gap: 0;
    height: auto;
    align-items: stretch;
    margin: 42px 11px;
  }
  .container1 {
    margin: 0;
   padding: 44px 28px
  }
  .contact {
    display: revert;
    position: relative;
    margin: 30px;
  }
  .sub-title{
        padding-bottom: 20px;
  }
  .contact h2 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 1080px) {
  .header {
    flex-direction: row;
    width: 100%;
    position: fixed;
    left: -14;
    top: 0;
    padding: 20px 10px;
    display: flex;
    align-items: baseline;
  }
    .para{
    display: flex;
    flex-direction: column;
  }
    .btn-box  {
    padding: 7px 14px;
  }
  .Techinical-bars{
  flex-direction: column
}
;
.learning-badges{
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 20%;
}
  .navbar {
      display: none;
    flex-direction: row;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    padding: 24px;
    margin-top: 3%;
  }
  .home {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .round {
    height: 450px;
    width: 450px;
  }
  .container {
    padding: 74px;
  }
  .round-2 {
    display: none;
  }
  .container1 {
    height: 400px;
    width: 500px;
  }
  .section {
    display: grid;
  }
  .main-text h2 {
    font-size: 40px;
  }

  .about {
    flex-direction: row-reverse;
    margin-left: 30px;
  }
  /* .container1{
        margin: 0;
        padding: 90px 10px;
        width: auto; */
  /* } */
  .contact {
    display: revert;
    position: relative;
  }
  .contact h2 {
    font-size: 50px;
  }
  .contact-form input,
  .form .textarea {
    height: 40px;
    width: 70%;
  }
  .contact-form textarea {
    resize: none;
    height: 150px;
    width: 70%;
  }
}

